

:root {
 /* --background: #FFF */
  --text-primary: #000;
  --text-secondary: #3f4130;
  --accent: #f77f7f;
  --border: #333;
  --form-bg: #fff;
  --title: #e7b6b6;
  --toggle: #e7b6b6;
  --icons: #3f4130;
  ;

}
[data-theme='dark'] {
   /* --background: #000 */
  --text-primary: #f1f1f1;
  --text-secondary: #f77f7f;
  --accent: #f77f7f;
  --border: #808080;
  --form-bg: #13140f; /* #3f4130 */ 
  --title: #f77f7f;
  --toggle:#f77f7f;
  --icons: #f77f7f;

} 

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  

}
body{
  background-image: url('./img/noise_23.png');
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: var(--text-secondary);
}

.app {
  /* background-color: var(--background); */
  color: var(--text-primary);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: .8rem;
  transition: all .5s;
  font-family: 'Exo 2', sans-serif;

}

.login h1 {
  text-align: center;
  margin: -6rem 0 2rem;
  font-size: 48px;
  font-weight: 900;
  color: var(--title);

}
.login h2 {
position: relative;
left: -500px;
top: 10px;
margin: -2rem 0 2rem;
  font-size: 32px;
  font-weight: 900;
  color: var(--title);

}
.login h5 {
  text-align: center;
  margin: -2rem 0 2rem;
  font-size: 18px;
  font-weight: 300;
  color: var(--title);

}

h2 {
  text-align: center;
  padding: 1rem;
  
}

.theme-toggle, i {
  font-size: 2rem;
  cursor: pointer;
  
}

.theme-toggle {
  text-align: right;
  width: cover;
  position: absolute;
  top: 10px;
  right: 20px;
  color: var(--toggle);


}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  width: 350px;
  height: 600px;
  margin: auto;
  box-shadow: 0px 0px 12px var(--border);
  border-radius: 8px;
  background-color: var(--form-bg);
}

.top {
  display: flex;
  justify-content: space-between;
  width: 70%;
  color: var(--icons);
  
}
.top i {
  margin-top: -50px;
  font-size: 1.5rem;
}

.divider{
  width: 100%;
  text-align: center;
  border-bottom:  1px solid black;
  line-height: .1rem;
  margin: 2rem 0;
  font-weight: 900;


}

span {
  padding: 0 10px;
  background-color: var(--form-bg);
  flex-direction: column;
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;

}

label {
  margin: 8px 0;
  font-weight: 300;



}

input {
  padding: 8px;
  margin-bottom: 8px;
  border-radius:  6px;
  border:  1px solid var(--border);
  background: var(--background);
  font-weight: 300;


}


.remember {
  display: flex;
  align-items: center;
  width: 100%;
font-weight: 100;
}

input[type=checkbox] {
  margin: 0;
  padding: 0;

}

.remember p {
  padding-left: 8px;
  font-weight: 300;
}

button {
  background-color: var(--accent);
  border: 1px solid var(--accent);
  color: #fff;
  padding: 10px;
  margin: 16px 0;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;

}

.bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: .8rem;
  color: var(--text-primary);

}

.create {
  font-size: 1rem;
  margin-top: 5rem;
  cursor: pointer;
  text-decoration: underline;
  color: var(--text-primary);
}

@media screen and (max-width:478) {
  .login{
    width: 95%;

  }
}
  







